@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header{
    margin-top: 15px;
}

.container{
    display: flex;
    justify-content: space-around;
    min-height: 80vh;
    /*margin: 30px;*/
}

.encriptador{
    display: flex;
    flex-direction: column;
    max-height: 80vh;
    /*padding: 30px;*/
    align-items: flex-start;
    justify-content: space-between;
    /* margin: 30px; */
    font-family: 'Roboto Mono', monospace;
}

.encriptador input{
    border-bottom: 2px solid black;
}

.encriptador input:focus{
    outline: none;
}

.textarea{
    margin-top: 50px;
    margin-bottom: 50px;
    font-size: 24px;
    border: none;
    background-color: transparent;
}

.btn{
    background-color: rgb(8, 138, 138);
    padding: 20px;
    border-radius: 30px;
    font-size: 24px;
    border: none;
    margin-right: 20px;
    margin-top: 20px;
}

.desc{
    background-color: rgba(184, 197, 207, 0.703);
}
.desencriptador{
    display: flex;
    flex-direction: column;
    background-color: aqua;
    width: 400px;
    height: 631px;
    max-height: 80vh;
    border-radius: 30px;
    justify-content: center;
    text-align: center;
    padding: 30px;
    overflow-wrap: break-word;
    font-family: 'Roboto Mono', monospace;
}

.text-show{
    word-break: break-all;
}
.des-container{
    display: flex;
    flex-direction: column;
    gap: 40px;
    justify-content: center;
    align-items: center;
}

.btn-copiar{
    background-color: rgb(8, 138, 138);
    padding: 20px;
    border-radius: 30px;
    font-size: 24px;
    border: none;
    width: 80%;
}

footer{
    text-align: center;
    margin-top: 30px;
}