@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto Mono', monospace;
}

body{
    background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgb(14, 64, 128) 100%);
}

.header{
    margin-top: 15px;
}

.container{
    display: flex;
    justify-content: space-around;
    min-height: 80vh;
}

.encriptador{
    display: flex;
    flex-direction: column;
    max-height: 80vh;
    align-items: flex-start;
    justify-content: space-between;
}

.encriptador textarea{
    border-bottom: 2px solid black;
    border-radius: 15px;
}

.encriptador textarea:focus{
    outline: none;
    background-color:  rgb(142, 182, 235);
    
}

.textarea{
    margin-top: 50px;
    margin-bottom: 50px;
    font-size: 24px;
    border: none;
    background-color: transparent;
}

.btn{
    background-color: rgb(8, 138, 138);
    padding: 20px;
    border-radius: 30px;
    font-size: 24px;
    border: none;
    margin-right: 20px;
    margin-top: 20px;
    transition: 0.5s all;
}

.btn:hover, .btn-copiar:hover{
    transform: scale(1.1);
}

.desc{
    background-color: rgba(95, 111, 123, 0.703);
}
.desencriptador{
    display: flex;
    flex-direction: column;
    background-color: aqua;
    width: 400px;
    height: 631px;
    max-height: 80vh;
    border-radius: 30px;
    justify-content: center;
    text-align: center;
    padding: 30px;
    overflow-wrap: break-word;
    font-family: 'Roboto Mono', monospace;
}

.text-show{
    word-wrap: normal;
    word-break: break-all;
    white-space: pre-wrap;
    text-align: center;
}
.des-container{
    display: flex;
    flex-direction: column;
    gap: 40px;
    justify-content: center;
    align-items: center;
}

.btn-copiar{
    background-color: rgb(8, 138, 138);
    padding: 20px;
    border-radius: 30px;
    font-size: 24px;
    border: none;
    width: 80%;
    transition: 0.5s all;
}

footer{
    text-align: center;
    margin-top: 30px;
}

footer a{
    text-decoration: none;
    color: rgb(19, 57, 57);;
}

@media (max-width: 375px) {
    .container{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 25px;
    }

    .encriptador{
        justify-content: center;
        align-items: center;
    }

    .buttons{
        display: flex;
        flex-direction: column;
        max-width: 70%;
        gap: 20px;
    }

    .btn{
        margin: 0;
    }

    .desencriptador{
        width: 350px;
    }
  }

  @media (max-width: 768px){
    .container{
        margin: 25px;
    }
  }