*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header{
    margin-top: 15px;
}

.container{
    display: flex;
    justify-content: space-around;
    min-height: 80vh;
    /*margin: 30px;*/
}

.encriptador{
    display: flex;
    flex-direction: column;
    max-height: 80vh;
    /*padding: 30px;*/
    align-items: flex-start;
    justify-content: space-around;
    margin: 30px;
}

.textarea{
    margin-top: 50px;
    margin-bottom: 50px;
    font-size: 24px;
    border: none;
    background-color: transparent;
}


.btn{
    background-color: rgb(8, 138, 138);
    padding: 20px;
    border-radius: 30px;
    font-size: 24px;
    border: none;
    margin-right: 20px;
    margin-top: 20px;
}

.desc{
    background-color: rgba(184, 197, 207, 0.703);
}
.desencriptador{
    display: flex;
    flex-direction: column;
    background-color: aqua;
    width: 400px;
    height: 600px;
    max-height: 80vh;
    border-radius: 30px;
    justify-content: center;
    text-align: center;
    padding: 30px;
    overflow-wrap: break-word;
}



footer{
    text-align: center;
    margin-top: 30px;
}